a {
  text-decoration: none;
}

nav {
  width: 100vw;
  height: 60px;
  background: black;
  display: flex;
  justify-content: center;
}

#nav-logo {
  color: white;
}

#inner-nav {
  width: 1100px;
  height: 100%;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#nav-links {
  display: flex;
  align-items: center;
}

#nav-links p,
#nav-links a {
  margin-left: 1.2rem;
}

#nav-links p:hover {
  cursor: pointer;
}

#nav-links a {
  color: white;
}
